[Unit]
Description=Slack Bot

[Service]
ExecStart=/home/falldeaf/git/slack_bot/index.js
Restart=always
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin:/home/falldeaf/git/slack_bot
Environment=NODE_ENV=production
RootDirectory=/home/falldeaf/git/slack_bot

[Install]
WantedBy=multi-user.target